body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 150px 120px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    min-height: 100vh;
}



/* fondo ------ */

.head__acce.pri {
    position: absolute;
    left: 17px;
    top: 80px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 15px;
    position: fixed;
    width: 100px;
    height: 100px;
    animation-name: rebote;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rebote {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.head__acce.seg {
    position: absolute;
    right: 17px;
    top: 530px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 15px;
    position: fixed;
    width: 100px;
    height: 100px;
    animation-name: rebote1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes rebote1 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}


video {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.head {
    grid-row: 1/2;
}

/* menu estilo hamburguesa  ----------- */
.head__menu-burger__blur__logo {
    width: 30px;
    margin: 13px;
}

.head__menu-burger {
    animation: bounce-top .9s 1s both;
}


@keyframes bounce-top {
    0% {
        transform: translateY(-70px);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in;
    }

    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
    }

    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}


.head__menu-burger {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 54px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    position: fixed;
    width: 90%;
    z-index: 200;
    margin: 15px 5% 0 5%;
}

@supports (backdrop-filter: none) {
    .frosted {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(8px);
    }
}

#menu__toggle {
    opacity: 0;
    display: none;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    top: 70px;
}

.menu1 {
    top: 10px;
}

.menu__btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 30;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616161;
    transition-duration: .25s;
    border-radius: 10px;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: absolute;
    top: -900%;
    width: 100%;
    height: auto;
    padding: 40px 20px;
    list-style: none;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    transition-duration: .7s;
    z-index: 20;
}

.menu__item {
    text-align: center;
    display: block;
    padding: 12px 24px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    opacity: .5;
}

.menu__item:hover {
    color: #ffffff;
}


/* Bienvenidos-------Inico------------------------------------------------------------ */
.index {
    grid-template-rows: 70px 1fr 70px 120px;
    gap: 20px;
}

.maini {
    grid-row: 2/3;
    height: 95%;
}


.maini__bienvenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    margin: 0px 10% 0px 10%;
    width: 80%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding-bottom: 10px;
}

.maini__bienvenido__marco {
    grid-row: 1/2;
    display: flex;
    width: 13rem;
    height: 60px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    margin: auto;
}

.maini__bienvenido__marco__hh {
    margin: auto;
    display: inline-block;
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 1.5rem;
    opacity: .5;
}

.maini__perfil {
    grid-column: auto;
    grid-row: 2/3;
    height: auto;
    display: flex;
    justify-content: center;

}

.maini__perfil img {
    align-self: center;
    filter: drop-shadow(10px 10px 50px rgb(0, 0, 0));
}


.maini__banner {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 88%;
    height: auto;
    margin: auto;
    padding: .5rem;
}


.maini__banner__h {
    margin: .5rem auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Sans';
    opacity: .6;
}

.maini__banner__p {
    font-family: 'Source Sans Pro';
    font-size: 1.5rem;
    text-align: center;
    padding: 10%;
    opacity: .7;
}



.button {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto;
    text-decoration: none;
}

.button__bn {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 55px;
    width: 140px;
    opacity: 1;
    border: none;
    background: rgb(124, 118, 226);
    background: rgb(236, 69, 235);
    background: linear-gradient(304deg, rgba(236, 69, 235, 0.7931547619047619) 0%, rgba(255, 251, 0, 0.617) 100%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37)
}

.button__bn,
.span {
    font-family: 'Noto Sans';
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-decoration: none;

}

.button__bn:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.button__bn:hover .span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes bn54rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes bn54storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}



/* footer  -------------------------------------- */

.pie {
    grid-column: 1/2;
    grid-row: 4/5;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px 15px 0px 0px;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    z-index: 1;
}


.pie__p {
    text-align: center;
    font-size: .9rem !important;
    margin-top: 3px;
    line-height: 20px;
}

/* Sobre MIiiiiiiiiiiiii   -------------------------------------- */
.carousel.slide {
    border-radius: 15px;
    height: 100%;
    box-shadow: 0px 0px 28px #444444;
}

.carousel-inner {
    height: 100%;
    border-radius: 15px;
}
<<<<<<< HEAD

.carousel-item {
=======
.carousel-item{
>>>>>>> 90317ad02aacf199fc25550e5e8ede08c3f53660
    border-radius: 15px;
}

.d-block {
    border-radius: 15px;
}

.head__acce.pri.mi {
    left: 17px;
    top: 120px;
}

.head__acce.seg.mi {
    top: 550px;
}

.button__s {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: -20px auto auto auto;
    text-decoration: none;
}

.bodymi {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px 1fr 70px 120px;
    gap: 20px;
}



.sobremi {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    height: 60px;
    width: 250px;
    margin: auto;
    z-index: 2;
}

.sobremi__h {
    margin: 5% auto;
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 27px;
    opacity: .5;
}



.mainmi {
    grid-row: 3/4;
    height: 80%;
}

.mainmi__img {
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 80%;
    margin: 0px 10%;
    z-index: 2;
    padding: 1.2rem;
}

.mainmi__p {
    position: relative;
    top: -60px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding-bottom: 10px;
    width: 90%;
    margin: 0px 5%;
    z-index: 1;
}

.mainmi__p__p {
    text-align: center;
    padding: 25% 20px 10px 20px;
    font-size: 1rem !important;
}

.acce.seg.mi {
    top: 83%;
    left: 2%;
}

.acce.pri.mi {
    left: 74%;
    top: 20%;
}

.pie.s {
    grid-row: 5/6;
}


/* CONOCIMINETOS -------------------------------------- */

.bodyco {
    grid-template-rows: 70px 70px 1fr 70px 120px;
    gap: 20px;
}

.marcoco {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    grid-row: 2/3;
    width: 70%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcoco__h {
    font-family: 'Noto Sans';
    font-size: 1.4rem;
    opacity: .5;
}

.contenedor {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 90px 1fr;
}

.contenedor__div {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(20%);
}

.contenedor__div div {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}

.marcocoh {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    grid-row: 2/3;
    width: 70%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcoco__hh {
    font-family: 'Noto Sans';
    font-size: 1.4rem;
    opacity: .5;
}

.contenedor__divs {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(20%);
}

.contenedor__divs div {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}


.button__c {
    grid-row: 4/5;
    columns: 1/3;
    margin: auto;
    text-decoration: none;
}

.pie.c {
    grid-row: 5/6;
}


/* Experiuencia -------------------------------------- */
.bodyex {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 80px 120px;
}

.expemain {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr;
    margin: 20px auto 0 auto;
}

.expemain__marcoco {
    grid-column: 1/3;
    grid-row: 1/2;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 15rem;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experiencia {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 90%;
    height: 400px;
    margin: 5%;
}

.experiencia.a {
    grid-column: 1/2;
    grid-row: 2/3;
}

.experiencia.b {
    grid-column: 1/2;
    grid-row: 3/4;
}

.experiencia.c {
    grid-column: 1/2;
    grid-row: 4/5;
}

.experiencia.d {
    grid-column: 1/2;
    grid-row: 5/6;
}

.button.e {
    margin-bottom: 20px;
}

/* Contacto    -------------------------------------- */
.contact {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px 1fr 120px;
    justify-content: center;
    row-gap: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 60px 1fr 70px;
    grid-row: 3/4;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 80%;
    height: 100%;
    margin: auto;
}

.form__input.t {
    grid-row: 1/2;
    width: 80%;
    margin: auto;
    height: 40px;
    border: none;
    border-radius: 15px;
}

.form__input.e {
    grid-row: 2/3;
    width: 80%;
    margin: 0 auto auto auto;
    height: 40px;
    border: none;
    border-radius: 15px;
}

.form__textarea {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
}

.submit {
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.expemain__marcoco.ec {
    grid-row: 2/3;
    margin: auto;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}



/* 
mediaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa    -------------------------------------- */
@media screen and (min-width: 500px) {
    /* Index   -------------------------------------- */


    .maini__bienvenido {
        grid-template-rows: 100px 1fr 350px;
    }


    .maini__banner {
        height: auto;
        margin: auto;
    }

    .maini__banner__p {
        padding: 7%;
    }

    .head__acce.pri {
        left: 5%;
    }

    .head__acce.seg {
        right: 5%;
    }

    .head__acce.seg.mi {
        right: 3%;
    }

    .mainmi__img {
        width: 60%;
        margin: 0 auto;
    }

    .mainmi__p {
        height: auto;
        width: 80%;
        margin: 0 auto;
    }

    .mainmi__p__p {
        padding: 80px 10% 20px 10%;
    }

    .mainmi {
        height: 100%;
    }

    .button__s {
        margin: -20px auto 20px auto;
    }

    .contenedor {
        margin-top: 10px;
    }

    .contenedor__div div {
        margin: 10px auto;
    }

    .contenedor__divs div {
        margin: 10px auto;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 70px 1fr 70px;
        height: 100%;
        margin: 0 auto;
        align-items: center;
        row-gap: 20px;
        padding: 20px 0;
    }

    .form__input.t {
        height: 60px;
    }

    .form__input.e {
        height: 60px;
    }

    .form__textarea {
        height: 100%;
    }

    .submit {
        width: 30%;
        height: 50px;
        margin: auto;
    }

    .marcoco,
    .marcocoh {
        width: 300px;
    }

}





@media screen and (min-width: 1550px) {

    /* m-------------------------------------------------------index    -------------------------------------- */


    .maini {
        margin-top: 10px;
        grid-row: 2/3;
        height: auto;
    }


    .head__acce.pri {
        position: fixed;
        left: 23%;
        top: 147px;
    }

    .head__acce.seg {
        right: 20%;
        top: 590px;
    }

    .head__menu-burger {
        width: 90%;
    }

    .menu__btn {
        display: none;
    }

    .menu__box {
        grid-column: 2/3;
        top: 3px;
        right: 0;
        padding: 0px;
        background-color: none;
        box-shadow: none;
        border-radius: 0px 0px 10px 0px;
        position: absolute;
        background: none;
        box-shadow: none;
        backdrop-filter: none;
        border-radius: none;
        width: 730px;
        height: 30px;
        margin-right: 0px;
    }

    .menu__item {
        margin: 0px 10px;
        padding: 4px 0px;
    }

    .menu__item.s {
        display: inline;
    }

    li {
        display: inline-block;
        padding-top: 1px;
    }

    .maini__bienvenido {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
        height: 400px;
        width: 50%;
        margin: 90px auto auto auto;
        z-index: 1;
    }

    .maini__bienvenido__marco {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 400px;
        height: 90px;
        margin: 40px auto 50px 17%;
    }

    .maini__bienvenido__marco__hh {
        font-size: 40px;
    }

    .maini__perfil {
        grid-row: 1/3;
        grid-column: 2/3;
        height: 100%;
        z-index: 1;
    }

    .maini__perfil img {
        top: -100px;
        right: -30%;
        width: 600px;
        position: absolute;
        margin-right: 5%;

    }

    .maini__banner {
        grid-row: 2/3;
        grid-column: 1/2;
        margin: 70px 10% 100px 10%;
        width: 90%;
        height: 200px;
        z-index: 3;
        padding-bottom: 20px;
    }

    .maini__banner__h {
        margin-top: 40px;
    }

    .maini__banner__p {
        margin-top: 10px;
        padding: 0 5%;
    }

    .button {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: auto;
        text-decoration: none;
    }




    /* m--------------------------SOBRE MI   -------------------------------------- */
    .button__s {
        grid-column: 1/3;
        grid-row: 3/4;
        margin: auto;
        text-decoration: none;
    }

    .bodymi {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px 1fr 70px 120px;
    }

    .pie.s {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .sobremi {
        grid-row: 2/3;
        grid-column: 2/3;
        margin: 30px 0;
        display: inline-block;
    }

    .mainmi {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: auto;
    }

    .mainmi__img {
        margin: 50px 20% 50px auto;
        width: 400px;
        height: 80%;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .mainmi__p {
        grid-row: 1/2;
        grid-column: 2/3;
        top: 130px;
        left: -40%;
        width: 100%;
        height: 51%;
        padding: 4% 5% 0 25%;
    }

    .mainmi__p__p {
        padding: 0;
        font-size: 1.17rem;
    }

    .head__acce.pri.mi {
        left: 15%;
    }

    .head__acce.seg.mi {
        right: 17%;
        top: 50%;
    }


    /* m------------------------CONOCIMIENTOS   -------------------------------------- */
    .bodyco {
        grid-template-rows: 70px 70px 1fr 70px 120px;
    }

    .contenedor__div,
    .contenedor__divs {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .contenedor__div,
    .contenedor__divs {
        margin: auto 5%;
    }

    .marcoco,
    .marcocoh {
        width: 300px;
    }

    .button__c {
        margin: 0 auto 20px auto;
    }

    .marcocoh {
        margin-top: 30px;
    }

    /* m------------------------EXPERIENCIA   -------------------------------------- */
    .bodyex {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 1fr 120px 120px;
    }

    .pie.e {
        grid-row: 4/5;
        grid-column: 1/3;
    }


    .expemain {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px 1fr 1fr;
        margin: 0 10%;
    }

    .expemain__marcoco {
        grid-column: 1/3;
        grid-row: 1/2;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 15px;
        width: 300PX;
        height: 60px;
        margin: auto;
    }

    .experiencia {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 15px;
        width: 90%;
        height: 400px;
        margin: 5%;
    }

    .experiencia.a {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .experiencia.b {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .experiencia.c {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .experiencia.d {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    /* m------------------------CONTACTO   -------------------------------------- */

    .contact {
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 70px 1fr 120px;
    }

    .pie.o {
        grid-row: 4/5;
    }



    .form {
        grid-row: 3/4;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 15px;
        width: 600px;
        margin: auto;
    }

    .form__input.t {
        width: 80%;
        margin: 30px 10%;
    }

    .form__input.e {
        width: 80%;
        margin: 0px 10% 20px 10%;
    }

    .form__textarea {
        width: 80%;
        margin: 10px 10% 20px 10%;
    }

    .submit {
        width: 30%;
        margin: auto;
    }

    .button.e {
        grid-column: 1/3;
        grid-row: 3/4;
        margin: 10px auto auto auto;
    }

    .expemain__marcoco.ec {
        grid-row: 2/3;
    }


}
